body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #ddd;
  padding: 15px;
  border-radius: 10px;
}

.game-container {
  border: 2px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  width: 90%;
  border-radius: 5px;
  box-sizing: border-box;
}
